<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<div id="theForm">
  
  <h2>Movie Form</h2>
  <form #f="ngForm" name="movieForm" (ngSubmit)="addMovie(f)">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Movie Name</th>
            <th>Genre</th>
            <th>Rating 1-10</th>
            <th>Year Made</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- Movie Name -->
          <tr>
            <td>
              
              <input
                type="text"
                id="movieName"
                name="movieName"
                class="form-control"
                [(ngModel)]="movie.movieName"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="f.controls['movieName']?.errors?.['required'] && f.controls['movieName']?.touched"
              >
                Movie name is required
              </div>
            </td>
            <!-- GENRE -->
            <td>
              <select
                id="genre"
                name="genre"
                class="form-control"
                [(ngModel)]="movie.genre"
                required
              >
                <option value="" disabled>Select Genre</option> 
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Horror">Horror</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="Crime">Crime</option>
              </select>
            
              <div
                class="invalid-feedback"
                *ngIf="f.controls['genre']?.errors?.['required'] && f.controls['genre']?.touched"
              >
                Genre is required
              </div>
            </td>
            <!-- RATING -->
            <td>
              <input
              type="text"
              id="rating"
              name="rating"
              class="form-control"
              [(ngModel)]="movie.rating"
              required
              placeholder="Enter a number between 1 and 10"
            />
            <div class="invalid-feedback" *ngIf="error">
              {{ error }}
            </div>
              </td>
            <!-- YEAR MADE -->
            <td>
              <input
                type="text"
                id="yearMade"
                name="yearMade"
                class="form-control"
                [(ngModel)]="movie.yearMade"
              />
            </td>
             <!-- image Name -->

          <td>
            <input type="file"
            class="form-control"
            name="imageName"
            [(ngModel)]="movie.imageName"
            #imageName="ngModel"        
            (change)="onFileSelected($event)" />      
          </td>
          </tr>
  
          <!-- Submit Button -->
          <tr>
            <td colspan="12" class="text-center">
              <button
                type="submit"
                class="btn btn-primary btn-sm"
                [disabled]="f.invalid"
              >
                Add Movie
              </button>
            </td>
            </tr>
            <tr>
          </tr>

        </tbody>
      </table>
    </div>
  </form>
</div>


<div id="theList">
 
 
    <h2>Movie List</h2>
    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>

          <th>Image</th>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Rating</th>
          <th>Year Made</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies; let i = index;">
    
         <!-- image -->
          <td>
            <div class="col-3">        
              <img src="http://localhost/movieapi/uploads/{{movie.imageName}}" width="auto" height="100" alt="image" />
          </div>
          <input type="text"
          [(ngModel)]="movies[i].imageName"
          class="form-control"
          required
          #imageName="ngModel"
          [ngClass]="{ 'is-valid': imageName.touched && imageName.invalid }"
          hidden>
   
          </td>
            <!-- movie name -->
          <td>
            <input type="text"
            [(ngModel)]="movies[i].movieName"
            class="form-control"
            required
            #movieName="ngModel"
            [ngClass]="{ 'is-valid': movieName.touched && movieName.valid, 'is-invalid': movieName.touched && movieName.invalid }">
          </td>
            <!-- gnere -->
            <td>
              <input
                type="text"
                [(ngModel)]="movies[i].genre"
                class="form-control"
                required
                #genre="ngModel"
                [ngClass]="{ 'is-valid': genre.touched && genre.valid, 'is-invalid': genre.touched && genre.invalid }"
                placeholder="Enter Genre"
              />
            </td>
            
          
          <td>
            <input type="text"
            [(ngModel)]="movies[i].rating"
            class="form-control"
            required
            #rating="ngModel"
            [ngClass]="{ 'is-valid': rating.touched && rating.valid, 'is-invalid': rating.touched && rating.invalid }">
          </td>
          <td>
            <input type="text"
            [(ngModel)]="movies[i].yearMade"
            class="form-control"
            required
            #yearMade="ngModel"
            [ngClass]="{ 'is-valid': yearMade.touched && yearMade.valid, 'is-invalid': yearMade.touched && yearMade.invalid }">
          </td>
       
          <!-- UPDATE BUTTON -->
          <td >
            <button
            class="btn btn-success btn-sm"
            [disabled]="movieName.invalid || rating.invalid || yearMade.invalid"
            (click)="editMovie(movieName, genre, rating, yearMade, imageName, movie.movieID)">
            Update
          </button>
          </td>
  
          <td><!-- Delete Button -->
            <button
              type="button"
              value="Delete"
              class="btn btn-danger btn-sm"
              (click)="deleteMovie(movie.movieID? movie.movieID:0 )"
              >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

